/* Style pour la section Nos Services */

#services {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#services h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.offre {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.offre h2 {
    margin-bottom: 10px;
    color: #333;
}

.offre p {
    color: #666;
}

.offre ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.offre ul li {
    margin-bottom: 5px;
}

.offre p {
    margin-bottom: 20px;
}

.offre a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.offre a:hover {
    background-color: #555;
}

.retour {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.retour:hover {
    background-color: #555;
}
/* Aligner les points avec le texte dans la liste à puces */
.offre ul {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-position: inside;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: distribute;
    bottom: 0;
    width: 100%;
}
